h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}
h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;